#################
## Game-Files
#################
## Folders
#################
/prototype/minigolf/Debug/
/prototype/minigolf/rpg/Debug/
/prototype/minigolf/rpg/Release/


#################
## Files
#################
log.txt
*.o
*.layout

#################
## Visual Studio
#################
*.suo
*.user
*.sln.docstates
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx
final/Ricochet/RPG.depend
final/Ricochet/RPG.layout
final/Ricochet/RPG.depend